* {
  margin:0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  background-color: #532e82;
  padding: 1rem 6rem;
}
h1 {
  font-size: 3rem;
  color:#e8e2f3;
}